@import url('https://fonts.googleapis.com/css2?family=Pacifico:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #9E9A9A;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid #ded9d9;
}
.navbar h1 {
  color:  #e6b9b1;
}
.navbar .links {
  margin-left: auto;
  margin-top: 10px;
}
.navbar button {
  margin: 15px;
  text-decoration: none;
  padding: 10px;
}
.navbar button {
  color: #e6b9b1;
}
.content {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}
.list {
  margin: 20px auto;
  
}
.memo {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  flex-direction: row;
}
.memo h2 {
  font-size: 20px;
  color: #F6C6BD;
  margin-bottom: 20px;
}

